$mycolor1:#eeeeee;
$mycolor2:#dddddd;
$mycolor3:#cccccc;
$mycolor4:#bbbbbb;
$mycolor5:#aaaaaa;

// $mycolor1:#040C0E;
// $mycolor2:#132226;
// $mycolor3:#525B56;
// $mycolor4:#A4978E;
// $mycolor5:#BE9063;